<h1><%= @artist.name %> </h1>
<ul>
  <% @artist.songs.each do |song| %>
  <li>
    <a href=<%= songs_path(song)%> >
      <% song.name %>
    </a>
    in
    <a href=<%= genres_path(song.genre)%> >
      <% song.genre %>
    </a>
  </li>
  <% end %>
</ul>

    
