<form action='artists' method="post">
  Name:
  <input id="artist_name" type="text" name="artist[name]"><br>
  Artist:
  <input id="artist_bio" type="text" name="artist[bio]"><br>
  Genre:
  <input id="artist_bio" type="text" name="artist[bio]"><br>
  Submit
  <input type="submit" name="Create Artist" id="Create Artist" >
</form>
